<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oska.model.Banner" >
  <resultMap id="BaseResultMap" type="com.oska.model.Banner" >
    <id column="banner_id" property="bannerId" jdbcType="INTEGER" />
    <result column="banner_img" property="bannerImg" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getBannerList" parameterType="com.oska.model.User" resultMap="BaseResultMap">
    select
    banner_id, banner_img
    from banner
    where 1=1
    <if test="bannerId != null and bannerId != ''">
      and banner_id = #{bannerId}
    </if>
  </select>

  <update id="updateBannerById" parameterType="com.oska.model.Banner" >
    update banner
    <set >
      <if test="bannerImg != null and bannerImg != ''" >
        banner_img = #{bannerImg},
      </if>
    </set>
    where banner_id = #{bannerId}
  </update>

</mapper>