<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oska.model.Product">
  <resultMap id="BaseResultMap" type="com.oska.model.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_info" jdbcType="VARCHAR" property="productInfo" />
    <result column="product_img" jdbcType="VARCHAR" property="productImg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
  </resultMap>

  <select id="getProductList" parameterType="com.oska.model.Product" resultMap="BaseResultMap">
    select
    product_id, product_name,product_info,create_time,product_img,product_type
    from product
    where 1 = 1
    <if test="productName != null and productName != ''">
      and product_name like CONCAT('%','${productName}','%')
    </if>
    <if test="productId != null and productId != ''">
      and product_id = #{productId}
    </if>
    <if test="productType != null and productType != ''">
      and product_Type = #{productType}
    </if>
      order by create_time DESC
  </select>

  <insert id="addProduct" parameterType="com.oska.model.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null and productId != ''" >
        product_id,
      </if>
      <if test="productName != null and productName != ''" >
        product_name,
      </if>
      <if test="productInfo != null and productInfo != ''" >
        product_info,
      </if>
      <if test="productImg != null and productImg != ''" >
        product_img,
      </if>
      <if test="productType != null and productType != ''" >
        product_type,
      </if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null and productId != ''" >
        #{productId},
      </if>
      <if test="productName != null and productName != ''" >
        #{productName},
      </if>
      <if test="productInfo != null and productInfo != ''" >
        #{productInfo},
      </if>
      <if test="productImg != null and productImg != ''" >
        #{productImg},
      </if>
      <if test="productType != null and productType != ''" >
        #{productType},
      </if>
        NOW()
    </trim>
  </insert>

  <!--updateProductById-->
  <update id="updateProductById" parameterType="com.oska.model.Product" >
    update product
    <set >
      <if test="productName != null and productName != ''" >
        product_name = #{productName},
      </if>
      <if test="productInfo != null and productInfo != ''" >
        product_info = #{productInfo},
      </if>
      <if test="productImg != null and productImg != ''" >
        product_img = #{productImg},
      </if>
      <if test="productType != null and productType != ''" >
        product_type = #{productType},
      </if>
    </set>
    where product_id = #{productId}
  </update>

  <delete id="deleteProductById" parameterType="com.oska.model.Product" >
    delete from product
    where product_id = #{productId}
  </delete>

  <delete id="deleteProductByType" parameterType="com.oska.model.Product" >
    delete from product
    where product_type = #{productType}
  </delete>

</mapper>